<div class="header container-fluid">
    <div class="row">
        <div class="col-4">
            <a routerLink="component-playground"
               class="link">
                <div class="title">Component Playground</div>
                <div class="bar"></div>
            </a>
        </div>
        <div class="col-4">
            <a routerLink="http-playground"
               class="link">
                <div class="title">Http Playground</div>
                <div class="bar"></div>
            </a>
        </div>
        <div class="col-4">
            <a routerLink="rxjs-playground"
               class="link">
                <div class="title">RxJS Playground</div>
                <div class="bar"></div>
            </a>
        </div>
    </div>
</div>